<section ng-controller="HomeController">
  <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Top Itineraries
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item" ng-repeat="itn in itns">
                <div class="box">
                  <a href="#">
                      <img class="img-responsive imageClip" src="{{itn.icon}}" alt="">
                  </a>
                  <h4>
                      <a href="#">{{itn.name}}</a>
                  </h4>
                  <h5>
                    <p class="text-muted" style="font-size:13px">{{itn.days}} days &middot {{itn.type}}</p>
                    <p class="text-muted" style="font-size:13px">{{itn.rating}} &middot {{itn.cost}}</p>
                  </h5>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; hodo.com 2016</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
</section>

 